<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Yooresh.Client.WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Yooresh.Client.WinForms.Properties.LoginFormSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Yooresh.Client.WinForms.LoginFormSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Yooresh.Client.WinForms.Properties.Settings>
            <setting name="LoginForm_RememberMe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoginForm_Email" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginForm_Password" serializeAs="String">
                <value />
            </setting>
        </Yooresh.Client.WinForms.Properties.Settings>
        <Yooresh.Client.WinForms.Properties.LoginFormSettings>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </Yooresh.Client.WinForms.Properties.LoginFormSettings>
        <Yooresh.Client.WinForms.LoginFormSettings>
            <setting name="RememberMe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </Yooresh.Client.WinForms.LoginFormSettings>
    </userSettings>
</configuration>